.background {
  position: fixed; /* Фон фиксирован на месте */
  top: 0;
  left: 0;
  width: 100vw; /* Занимаем всю ширину экрана */
  height: 100vh; /* Занимаем всю высоту экрана */
  overflow: hidden; /* Скрываем лишнее содержимое */
}

.death-screen {
  width: 100vw; /* Занимаем всю ширину экрана */
  height: 100vh; /* Занимаем всю высоту экрана */
  position: absolute;
  background-repeat: repeat-x;
  background-size: contain;
  top: 0;
  filter: brightness(60%); /* Уменьшение яркости изображения */
}

.arise {
  position: absolute;
  top: 50%;
  left: 42%;
  font-size: 25px;
  border-radius: 50px;
  font-family: 'arcade';
}

.app-title {
  font-family: 'arcade';
  color: white;
}

.start {
  font-size: large;
  font-size: 25px;
  border-radius: 50px;
  font-family: 'arcade';
  margin-bottom: 5px;
}

.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw; /* Занимаем всю ширину экрана */
  height: 100vh; /* Занимаем всю высоту экрана */
  position: absolute;
  top: 0;
}

.store-page {
  width: 100vw; /* Занимаем всю ширину экрана */
  height: 100vh; /* Занимаем всю высоту экрана */
  position: absolute;
  background-repeat: repeat-x;
  background-size: contain;
  top: 0;
  z-index: -1;
}

.bird-image {
  width: 50%;
}

.back {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 20px;
  border-radius: 50px;
  font-family: 'arcade';
  position: absolute;
  top: 0;
  left: 0;
}

.buy {
  font-size: 25px;
  border-radius: 50px;
  font-family: 'arcade';
}

.bought {
  font-size: 25px;
  border-radius: 50px;
  font-family: 'arcade';
  filter: brightness(75%);
}

.hide {
  z-index: -2;
}

.skins {
  position: absolute;
  top: 45%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  font-family: 'arcade';
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 165px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 5px;
  margin-right: 7px;
  background-color: white;
}

.sky {
  height: 100px;
  margin-bottom: 10px;
}

.exit {
  position: absolute;
  top: 56%;
  left: 42.5%;
  font-size: 25px;
  border-radius: 50px;
  font-family: 'arcade';
}

.store {
  position: absolute;
  top: 62%;
  left: 42.5%;
  font-size: 25px;
  border-radius: 50px;
  font-family: 'arcade';
}

.backgrounds {
  position: absolute;
  top: 13%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-skin{
  font-family: 'arcade';
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 160px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 5px;
  margin-right: 7px;
  background-color: white;
}

.point-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 5;
  font-size: 30px;
  top: 50px;
  font-family: 'arcade';
}

@font-face {
  font-family: 'arcade'; /* Название шрифта */
  src: url('../assets/ARCADECLASSIC.TTF') format('truetype'); /* Добавьте другие форматы по необходимости */
  font-weight: normal; /* Укажите начертание */
  font-style: normal; /* Укажите стиль */
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Делаем шире для эффекта бесконечности */
  height: 100%;
  background-image: url('./background.png'); /* Путь к изображению */
  background-repeat: repeat; /* Повторяем изображение по обеим осям */
  background-size: contain; /* Используем contain для полного отображения изображения */
}

.heart-buy {
  width: 30%;
}

.plus-text {
  position: relative;
  font-size: 22px;
  top: -25%;
  left: 3%;
}

.plus-one {
  font-family: 'arcade';
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 5px;
  margin-right: 7px;
  background-color: white;
}

.hearts {
  position: absolute;
  top: 77%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundnight-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Делаем шире для эффекта бесконечности */
  height: 100%;
  background-image: url('./night.png'); /* Путь к изображению */
  background-repeat: repeat; /* Повторяем изображение по обеим осям */
  background-size: contain; /* Используем contain для полного отображения изображения */
}

@keyframes rotateBackground {
  from {
    transform: translateX(0); /* Начальная позиция */
  }
  to {
    transform: translateX(-50%); /* Перемещаем влево на половину ширины */
  }
}

.score-zone {
  width: 10px;
}

.background-layer-1 {
  animation: rotateBackground 13s linear infinite; /* Анимация для первого слоя */
}

.background-layer-2 {
  animation: rotateBackground 13s linear infinite; /* Анимация для второго слоя */
  left: 100%; /* Сдвигаем второй слой вправо для создания эффекта бесконечности */
}

.player {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.bird {
  width: 45px;
}

@keyframes movePipes {
  0% {
    transform: translateX(700px); /* Начинаем справа за пределами экрана */
  }
  100% {
    transform: translateX(-70px); /* Перемещаем трубы влево на ширину трубы */
  }
}

.pipe-container {
  overflow-y: visible;
  position: absolute; /* Позиционируем трубы абсолютно */
  animation: movePipes linear infinite; /* Применяем анимацию */
  animation-duration: 2.8s; /* Длительность анимации, можно настроить */
}

.pipe-collider {
  position: relative; /* Позволяет позиционировать дочерние элементы */
}

.pipe1, .pipe2 {
  width: 100%; /* Занять всю ширину контейнера */
  height: 100%; /* Занять всю высоту контейнера */
}

.clickable-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Занимает всю ширину родительского элемента */
  height: 100vh; /* Занимает всю высоту родительского элемента */
  z-index: 6;
}
